.FirstPageContainer {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../Portfolio-Pic.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.animation-Wrapper {
    height: 100%;
}

.wrapper {
    height: 100%;
}

.PageContainer {
    min-height: 100%;
}

.Title-Firstpg {
    font-size: 12vmax;
    position: absolute;
    /* color: #1CB950; */
    color: whitesmoke;
    top: 35%;
    margin-left: 4rem;
    line-height: 100%;
    font-family: "Montserrat", sans-serif;
    /* font-weight: bold; */
    
    /* letter-spacing: 0.8rem; */
}
