.logo {
    width: 10rem;
    height: 10rem;
    float: right;
}

.wrapper {
    height: 100vh;
}

.name {
    font-family: "Snell", "Roundhand", cursive;
    font-size: 3.5rem;
    font-weight: bold;
}

.FirstPageContainer {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../Portfolio-Pic.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
