.Cards-Container{
    margin-right: 5%;
    margin-left: 5%;
}

.ContactFormCard {
    background-color: #f5f5f5;
    margin-top: 5rem;
    width: 100%;
    display: inline-block;
}


.Border {
    width: 20%;
    border-top: 2px solid blue;
    margin-bottom: 5%;
}

.icons {
    margin: 0;
}